@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class=row>
    <div class="col-6 salong">
        <img src="~/images/Salong1.jpg" />
        <div class="layer">
            <a asp-page="/Salongs/One/SalongOne">
                <h1>Salong 1</h1>
            </a>
        </div>
    </div>
    <div class="col-6 salong space">
        <img src="~/images/Salong2.jpg" />
        <div class="layer">
            <a asp-page="/Salongs/Two/SalongTwo">
                <h1>Salong 2</h1>
            </a>
        </div>
    </div>
</div>



