@page
@model Bion.Pages.Admin.CinemaAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cinema</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="@Model.Cinema.CinemaName"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Cinema.CinemaName
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cinema.Id" class="btn btn-primary">Edit</a> 
    <a asp-page="./Index" class="btn btn-info">Back to List</a>
</div>
