@page
@model Bion.Pages.Admin.CinemaAdmin.IndexModel

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cinema)
        {
            <tr>
                <td>@item.CinemaName</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> 
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> 
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
